:root {
  --shadow-strength: 2.5%;
  --primary-color: var(--teal-4);
  --primary-light: var(--teal-3);
  --primary-dark: var(--teal-6);
  --color: var(--gray-8);
  --contrast-color: var(--gray-1);
  --container-gap: 2rem;
  --font-sans: Poppins, Helvetica, Arial, sans-serif;

  background: var(--contrast-color);
  font-family: var(--font-sans);
  font-size: var(--font-size-1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: min(calc(100% - var(--container-gap)), 60rem);
  margin-inline: auto;
}

.flow {
  --flow: 1em;
}

.flow > * + * {
  margin-top: var(--flow);
}

.button,
.button--small {
  --button-color: var(--primary-color);
  --button-dark: var(--primary-dark);
  --button-text: #fff;
  --button-size: var(--size-3);

  cursor: pointer;
  display: inline-block;

  background: var(--button-color);
  border: var(--border-size-1) solid var(--button-color);
  border-radius: var(--radius-2);
  color: var(--button-text);

  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  text-transform: uppercase;

  padding: var(--button-size) calc(var(--button-size) * 1.5);
  transition: all 0.3s ease-in-out;
}

.button:hover,
.button--small:hover {
  background: var(--button-dark);
}

.button--small {
  --button-size: 0.6em;
}

.card {
  --card-space: 1em;

  padding: var(--card-space);
  border-radius: 0.25em;

  background: #fff;
  box-shadow: var(--shadow-3);
}

figure {
  max-width: 100%;
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table tr {
  border-bottom: var(--border-size-1) solid var(--gray-3);
}

tbody tr:last-child {
  border-bottom: none;
}

table th {
  text-align: left;
  white-space: nowrap;
}

table th,
table td {
  color: var(--gray-7);
  padding: var(--size-2);
  padding-top: var(--size-3);
}

.divider + .divider {
  border-top: 1px solid rgb(0, 0, 0, 0.12);
}

.fade-in-transition {
  transition: all 0.1s ease-out;
}

.fade-in-from {
  opacity: 0;
  transform: translate3d(0, -6.25%, 0) scale(0.95);
}

.fade-in-to {
  opacity: 1;
  transform: translate3d(0, 0, 0) scale(1);
}
