.dashboard {
  --hamburger-size: 48px;
  --container-gap: var(--font-size-4) * 2;
}

.hamburger {
  position: fixed;
  top: 0;
  left: var(--font-size-4);

  width: var(--hamburger-size);
  height: var(--hamburger-size);

  display: grid;
  place-items: center;

  cursor: pointer;
  background: var(--color);
  color: var(--contrast-color);
  border: none;

  z-index: 11;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 10;
  height: 100vh;

  display: flex;
  flex-direction: column;

  background: #fff;
  font-size: var(--font-size-3);
  width: var(--sidebar-width);
  box-shadow: var(--shadow-6);
  padding: 1em;

  transition: all 0.3s var(--ease-5);
}

.sidebar.isOpen {
  left: 0;
}

.sidebar,
.sidebar__placeholder {
  --sidebar-width: min(100%, 300px);
}

.sidebar__placeholder {
  display: none;
}

.sidebar__menu {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 1.75em;

  font-size: inherit;
}

.sidebar__brand,
.sidebar__link {
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  text-align: center;
}

.sidebar__brand,
.sidebar__item {
  display: block;
}

.sidebar__brand {
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-7);
  color: var(--gray-7);

  margin-top: var(--hamburger-size);
}

.sidebar__item {
  color: inherit;
}

.sidebar__link {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  font-size: inherit;
  color: inherit;
  text-decoration: none;
  padding: 0.5em;
  transition: all 0.3s ease-in-out;
}

.sidebar__link:hover {
  background: rgba(255, 255, 255, 0.2);
}

.sidebar__link svg {
  color: var(--primary-color);
  transition: all 0.3s var(--ease-elastic-5);
}

.sidebar__link:hover svg {
  transform: translate3d(25%, 0, 0);
}

.sidebar__link :last-child {
  margin-left: 1em;
}

.sidebar__item:last-child {
  margin-bottom: 2em;
}

.dashboard__content {
  background: var(--contrast-color);
  padding-block: calc(1em + var(--hamburger-size));
}

.dashboard__page {
  display: block;
}

@media screen and (min-width: 800px) {
  .sidebar__placeholder {
    display: block;
    grid-area: sidebar;
  }

  .dashboard__content {
    grid-area: content;
  }

  .dashboard__header {
    grid-area: header;

    background: var(--primary-light);
    height: var(--hamburger-size);
    padding: 0;
    box-sizing: content-box;
  }

  .sidebar {
    box-shadow: none;
  }

  .sidebar,
  .sidebar.isOpen,
  .dashboard {
    --sidebar-width: 250px;
    left: 0;
  }

  .sidebar__brand {
    margin-top: 0;
  }

  .hamburger {
    display: none;
  }

  .dashboard {
    display: grid;
    grid-template-columns: var(--sidebar-width) 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "sidebar header"
      "sidebar content";
  }

  .dashboard__content {
    padding-block: var(--font-size-4);
  }

  .sidebar__brand {
    font-size: var(--font-size-3);
  }
}
